src/main/resources/studentDetailsWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://www.howtodoinjava.com/xml/school" xmlns:sch="http://www.mohamedatta.com/xsds/school" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.howtodoinjava.com/xml/school">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.mohamedatta.com/xsds/school" xmlns:tns="http://www.mohamedatta.com/xsds/school">

    <xs:element name="AddStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
    <xs:element name="AddStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
     
    <xs:element name="StudentDetailsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:element name="StudentDetailsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Student" type="tns:Student"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
 
    <xs:complexType name="Student">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="standard" type="xs:int"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
     
</xs:schema>
  </wsdl:types>
  <wsdl:message name="StudentDetailsRequest">
    <wsdl:part element="sch:StudentDetailsRequest" name="StudentDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddStudentResponse">
    <wsdl:part element="sch:AddStudentResponse" name="AddStudentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StudentDetailsResponse">
    <wsdl:part element="sch:StudentDetailsResponse" name="StudentDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddStudentRequest">
    <wsdl:part element="sch:AddStudentRequest" name="AddStudentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StudentDetailsPort">
    <wsdl:operation name="StudentDetails">
      <wsdl:input message="tns:StudentDetailsRequest" name="StudentDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:StudentDetailsResponse" name="StudentDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input message="tns:AddStudentRequest" name="AddStudentRequest">
    </wsdl:input>
      <wsdl:output message="tns:AddStudentResponse" name="AddStudentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentDetailsPortSoap11" type="tns:StudentDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StudentDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="StudentDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StudentDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction=""/>
      <wsdl:input name="AddStudentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AddStudentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentDetailsPortService">
    <wsdl:port binding="tns:StudentDetailsPortSoap11" name="StudentDetailsPortSoap11">
      <soap:address location="http://localhost:1234/service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>